@import 'Fonts';

$black: #000;
$white: #f5f5f5;
$bg: #23252c;
$footer: #161619;
$peach: #f3bf99;

html,
body {
	background: $bg;
	padding: 44px;
}

main {
	margin: 0 auto;
	width: 317px;
	background: #1a1b21;
	box-shadow: 0px 2px 2px rgba($black, 0.8);
	border-radius: 10px;
	color: $white;
	.header {
		padding: 0 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.char-img {
			overflow: hidden;
			height: 350px;
			display: flex;
			align-items: center;
		}
		.info {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-top: 1.2rem;
			text-align: center;
			&--name {
				margin: 0;
				font-size: 25px;
				line-height: 1.6;
			}
			&--role {
				font-size: 12.8px;
				line-height: 1;
				color: $peach;
			}
			&--site {
				margin: 10px auto 15px;
				font-size: 10px;
			}
		}

		.contact {
			display: flex;
			justify-content: space-between;
			width: 100%;
			[class*='btn'] {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 14px;
				width: 115px;
				height: 34px;
				background: $white;
				box-shadow: 0px 1px 2px rgba($black, 0.05);
				border-radius: 6px;
				svg {
					margin-right: 8px;
				}
			}
			.btn {
				&--email {
					color: $footer;
				}
				&--linkedin {
					background: #5093e2;
				}
			}
		}
	}
	.content {
		padding: 33px 38px;
		article {
			margin: 0 auto 1rem;
			h2 {
				font-size: 1rem;
				margin: 0 auto 5px;
			}
			p {
				font-size: 10px;
				line-height: 1.5;
				margin: 0 auto;
			}
		}
	}
	.footer {
		background: $footer;
		height: 64px;
		padding: 0 70px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		ul {
			list-style: none;
			padding: 0;
			display: flex;
			justify-content: space-around;
			flex: 1 1 auto;
		}
	}
}
